<ul id="dropdown1" class="dropdown-content">
<li><%= link_to "English", locale: "en" %></li>
<li class="divider"></li>
<li><%= link_to "French", locale: "fr" %></li>
</ul>
<nav>
  <div class="nav-wrapper blue darken-1">
    <a href="home" class="medium material-icons middle-left">library_music</a>
    <ul class="right middle-hide-on-med-and-down">
      <li><a href="personnes">Personnes</a></li>
      <li><a href="festivals">Festivals</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button middle"  data-activates="dropdown1">Language<i class="small material-icons right">language</i></a></li>
    </ul>
  </div>
</nav>
<!DOCTYPE html>
<html>
<head>

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>BENEPOLE2</title>
</head>
<body>

<%= yield %>
<!--<script>
    $(document).ready(function() {
      $('select').material_select();
    });-->
</script>
</body>
</html>
